body {
    margin: 0;
    height: 100vh;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f5f5f5;
    overflow: hidden;
}

.container {
    background-color: #facc15;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: white;
    border-radius: 16px;
    box-shadow: 8px 8px 0px rgba(0,0,0,0.4);
    overflow: hidden;
    width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: absolute;
    -webkit-user-select: none;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 12px 12px 20px rgba(0,0,0,0.4);
}

.card:hover .description {
    opacity: 1;
}

.card-img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 16px;
    display: block;
    pointer-events: none;
}

.card-content {
    padding: 20px;
}

#carta-movible {
    position: absolute;
    cursor: grab;
    transition: transform 0.2s ease;
}

.tag {
    background-color: #fde047;
    color: #333;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 0.8rem;
}

.date {
    font-size: 0.75rem;
    color: #888;
    margin: 8px 0;
}

.card h2 {
    font-size: 1.2rem;
    margin: 10px 0 5px;
}

.description {
    color: #666;
    font-size: 0.9rem;
    margin-bottom: 20px;
    opacity: 0.6;
    transition: opacity 0.3s ease;
}

.autor {
    display: flex;
    align-items: center;
    gap: 10px;
}

.autor span {
    font-weight: bold;
    font-size: 0.9rem;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
